@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}


@keyframes placeHolderShimmer{
  0%{
    background-position: rem-calc(-468) 0
  }
  100%{
    background-position: rem-calc(468) 0
  }
}