@import "./colours";
@import "./function";

// animation

.animated-load {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $porcelain;
  background: linear-gradient(to right, $gallery 8%, $alto 18%, $gallery 33%);
  background-size: rem-calc(800) rem-calc(104);
  position: relative;
}

.loading-card {
  display: block;
  width: rem-calc(400);
  height: rem-calc(300);
}




/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  //CSS
  .menu-list {
    display: inline-flex;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0) and (max-width: 480px) {
  .menu-list {
    display: inline-flex;
  }

  .logo img {
    width: 55px;
    height: 50px;
  }

}


.logo img {
  width: 110px;
  height: 100px;
}



// Sidebar

.sidebar {
  background: $bluewood;
  margin: 0;
}


.menu-list a {
  color: white;

  &:hover {
    background: $bluewood;
    color: red;
  }
}


// #F4F0E9
// Main content
//https://www.w3schools.com/cssref/css3_pr_flex.asp
section {
  flex: auto;
  height: 100vh;
  overflow: auto;
  background-color: $spring;
}

.top {
  margin: rem-calc(16) auto;
}